.qw{
    width:100%;
    height:100vh;
    background-color: rgb(49, 51, 50);
    display: flex;
    justify-content: space-evenly;
}

.main{
     width: 43%;
    height: 80%;
    background-color: rgb(157, 211, 241);
    position: relative;
    justify-content:space-evenly;
     margin-top: 5vh;

} 
.main h1{

    width: 100%;
    text-align: center;
    font-style: oblique;
}
.main img{
     width: 100%;
    height: 250px;   
}
.main p{
    font-size: 16px;
    text-align: justify;
    line-height: 18px;
}
.main button{
   height: 30px;
    width: 250px;
    background-color: rgb(245, 8, 8);
}
.sahar{
       width: 43%;
    height: 80%;
    background-color: rgb(157, 211, 241);
    position: relative;
   margin-top: 5vh;
}

      
.sahar h1{
    width: 100%;
    text-align: center;
    font-style: italic;
}
.sahar img{
     width: 100%;
    height: 250PX;
}
.sahar p{
    font-size: 16px;
    text-align: justify;
    line-height: 18px;
}
.sahar button{
    height: 30px;
    width: 250px;
    background-color: rgb(35, 2, 73);
    color: rgb(252, 244, 244);
}