*{
    padding: 0px;
    margin: 0%;
}
.cont{
    width: 100%;
    height: 15vh;
    background-color: rgb(8, 8, 8);
    position: fixed;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 25%;
}
.sb{
    width: 40%;
}
ul{
    color: rgb(243, 254, 255);
    display: flex;
    justify-content: space-around;  
    margin-right:80vh;
    padding-left:10%;
    padding-right: 10%; 

}

li{
    margin-top: 5VH;
    list-style-type:none ;
}

 a{
    text-decoration: none;
    color: aliceblue;
    align-items: center;
 }
 .sub{
      width: 35%;
    height: 100px;
    background-color: aliceblue;

 }
 h1{
    font-size: 39px;
 }
 .search{
     width:25%;
 }
.search input{
    width:60%;
    height: 5vh;
    margin-left: 70%;
 }

.name{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.sub{
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 144, 235);}
