*{
    padding: 0%;
    margin: 0%;
}
.main{
     width: 100%;
    height: 100vh;
   background-color: aqua;

}
.card{
    width: 30%;
    height: 40%;
    border: 1px solid;
    position: relative;
    left:100px;
    top: 100px;
}
.card img{
width: 100%;
height: 100%;
filter: blur(8px);
}
.card h3{
position: relative;
left: 130px;
bottom: 235px;
}
.card h2{
position: relative;
left: 150px;
bottom: 260px;
}
.sub img{
     position: relative;
   left: 110px;
    top: -150px;
    width: 90px;
}